<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flickr Search Application</title>
    <meta name="description" content="A simple app. to search pictures from Flickr!">
    <meta name="keywords" content="Flickr, photo search, licence-free photos" />
    <meta name="author" content="M.Serhat Dundar">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><%= link_to 'Flicker Digger', root_path %></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active">
                    <%= link_to fa_icon("search", text: "Search"), root_path %>
                    </li>
                  <% if user_signed_in? %>
                    <li>
                      <%= link_to fa_icon("user", text: "Account"), update_path %>
                    </li>
                    <li>
                      <%= link_to fa_icon("external-link-square", text: "Logout"), logout_path %>
                    </li>
                  <% else %>
                    <li><%= link_to fa_icon("key", text: "Login"), login_path %></li>
                    <li><%= link_to fa_icon("id-card", text: "Register"), register_path %></li>
                  <% end %>
                </ul>
              </nav>
            </div>
          </div>
        <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>